<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.newsite.maptest01.vo.ConditionResult" alias="ConditionResult" />
		<typeAlias type="com.newsite.maptest01.vo.bjdJuso" alias="bjdJuso" />
		<typeAlias type="com.newsite.maptest01.vo.bjdName" alias="bjdName" />
		<typeAlias type="com.newsite.maptest01.vo.doroCode" alias="doroCode" />
		<typeAlias type="com.newsite.maptest01.vo.kaptCode" alias="kaptCode" />
		<typeAlias type="com.newsite.maptest01.vo.aptcode" alias="aptcode" />
		<typeAlias type="com.newsite.maptest01.vo.aptsale" alias="aptsale" />
		<typeAlias type="com.newsite.maptest01.vo.aptInfo" alias="aptInfo" />
		<typeAlias type="com.newsite.maptest01.vo.GuGwanhal" alias="GuGwanhal" />
		<typeAlias type="com.newsite.maptest01.vo.saveData" alias="saveData" />
		<typeAlias type="com.newsite.maptest01.vo.saveKeyCount" alias="savekeycount" />
	</typeAliases>	
		
	<mappers>
		<mapper resource="mapper/dataMapper.xml" />
		<mapper resource="mapper/mapMapper.xml" />
		<mapper resource="mapper/saveMapper.xml" />
	</mappers>
</configuration>
