<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.newsite.maptest01.DAO.DataMapper">
	
	<!-- 조건 -->
	<select id="selectCondition" resultType="ConditionResult">
		select
			citycode, si, dong, gu,		 
			<foreach collection="list" item="list" separator=",">
				${list}
			</foreach>
		from
			mp_data
	</select>
	
	<select id="selectAllInfo" resultType="ConditionResult">
		select
			conditionName, si, gu, dong, citycode, value
		from
			table
	</select>
	
	
	
	<select id="selectGungu" parameterType = "String" resultType="String">
		select
			distinct(mp_addcd_gg) 
			from MP_ADDCD where mp_addcd_sido = #{0}
			order by mp_addcd_gg
	</select>
	
	<select id="selectDong" parameterType = "String" resultType="String" >
		select
			mp_addcd_dong, mp_addcd_dong_cd
			from MP_ADDCD where mp_addcd_gg = #{0}
			order by mp_addcd_dong
	</select>
	
	
	<select id="standardChart" parameterType = "String" resultType="ConditionResult">
		select round(avg(EDUCATION_ACADEMY),0) EDUCATION_ACADEMY,round(avg(WELFARE_CULTURE),0) WELFARE_CULTURE,round(avg(WELFARE_MEDICAL),0) WELFARE_MEDICAL,
			round(avg(WELFARE_SALON),0) WELFARE_SALON, round(avg(WELFARE_SOCIETY),0) WELFARE_SOCIETY,round(avg(WELFARE_SPORTS),0) WELFARE_SPORTS, round(avg(SAFETY_FIRE),0) SAFETY_FIRE,
			round(avg(SAFETY_TRAFFIC),0) SAFETY_TRAFFIC, round(avg(SAFETY_CRIME),0) SAFETY_CRIME,round(avg(SAFETY_SAFETY),0) SAFETY_SAFETY,round(avg(SAFETY_INFECTION),0) SAFETY_INFECTION,
			round(avg(SAFETY_NATURE),0) SAFETY_NATURE, round(avg(WELFARE_CHILDCARE),0) ,round(avg(EDUCATION_STUDENT),0) EDUCATION_STUDENT,round(avg(LIFE_SHOPPING),0) LIFE_SHOPPING,
			round(avg(LIFE_CONVENIENT),0) LIFE_CONVENIENT, round(avg(NATURE_POLLUTION),0) NATURE_POLLUTION, round(avg(NATURE_PARK),0) NATURE_PARK,round(avg(LIFE_RESTAURANT),0) LIFE_RESTAURANT,
			round(avg(PEOPLE_FOREIGN),0) PEOPLE_FOREIGN, round(avg(PEOPLE_DENSITY),0) PEOPLE_DENSITY, round(avg(LIFE_PUBLICTRAFFIC),0) LIFE_PUBLICTRAFFIC
		from mp_data where gu = #{1} group by gu 
	</select>
	
	<select id="createData" parameterType = "int" resultType="ConditionResult" >
		select * from MP_DATA_100 where citycode = #{0} and rownum = 1
	</select>
	
	<!-- <select id="allStandard" resultType="ConditionResult" >
		select round(avg(EDUCATION_ACADEMY),0) EDUCATION_ACADEMY,round(avg(WELFARE_CULTURE),0) WELFARE_CULTURE,round(avg(WELFARE_MEDICAL),0) WELFARE_MEDICAL,
			round(avg(WELFARE_SALON),0) WELFARE_SALON, round(avg(WELFARE_SOCIETY),0) WELFARE_SOCIETY,round(avg(WELFARE_SPORTS),0) WELFARE_SPORTS, round(avg(SAFETY_FIRE),0) SAFETY_FIRE,
			round(avg(SAFETY_TRAFFIC),0) SAFETY_TRAFFIC, round(avg(SAFETY_CRIME),0) SAFETY_CRIME,round(avg(SAFETY_SAFETY),0) SAFETY_SAFETY,round(avg(SAFETY_INFECTION),0) SAFETY_INFECTION,
			round(avg(SAFETY_NATURE),0) SAFETY_NATURE, round(avg(WELFARE_CHILDCARE),0) ,round(avg(EDUCATION_STUDENT),0) EDUCATION_STUDENT,round(avg(LIFE_SHOPPING),0) LIFE_SHOPPING,
			round(avg(LIFE_CONVENIENT),0) LIFE_CONVENIENT, round(avg(NATURE_POLLUTION),0) NATURE_POLLUTION, round(avg(NATURE_PARK),0) NATURE_PARK,round(avg(LIFE_RESTAURANT),0) LIFE_RESTAURANT,
			round(avg(PEOPLE_FOREIGN),0) PEOPLE_FOREIGN, round(avg(PEOPLE_DENSITY),0) PEOPLE_DENSITY, round(avg(LIFE_PUBLICTRAFFIC),0) LIFE_PUBLICTRAFFIC
			from mp_data
	</select> -->
</mapper>
